<hr />
<h1>Comments</h1>
<hr />
<ul id="comments_ul">
<% comments.each do |comment| %>
  <li class="comment_list">
    <%= link_to comment.email, article_comment_path(@article, comment), :id => "comment-#{comment.id}" %>
    <ul>
      <li><p class="comments"><%= comment.body %></p></li>
    </ul>
  </li>
<% end %>
</ul>
 
<br />

<%= link_to 'Add Comment', new_article_comment_path(@article) %> |
<%= link_to "Hide Comments", "#", :id => "hide" %>


